#league-container {
  text-align: center;

  .lifetime-standings-container {
    text-align: center;

    .lifetime-standings {
      margin: 0 auto;
    }
  }

  .weighted-standings-container {
    text-align: center;

    .weighted-standings {
      margin: 0 auto;
    }
  }
}